html{
    font-size: 22px;
    
}
body{
    background-color: #CCD7D8;
    color: black;
}
a{
    color: green;
}
a:visited{
    color:purple;
}
a:hover, a:active {
    color: blue;
}
ol li{
    counter-increment:list;
    list-style-type:none;
    position:relative;
}
ol li:before {
    color: rgb(0, 128, 9);
    content: counter(list) ".";
    left: -32px;
    position: absolute;
    text-align: right;
    width: 26px;
}
ul
{
    list-style-type: '✽ ';
}
p{
    text-align:justify;
}
img {
  --f: .1; /* parallax factor (the smaller, the better) */

  --_f: calc(100 * var(--f) / (1 + var(--f)));
  aspect-ratio: calc(1 + var(--f));
  clip-path: inset(0 var(--_f) 0 0);
  transition: .5s;
}
img:hover {
  clip-path: inset(0 0 0 var(--_f));
  transform: translateX(calc(-1 * var(--_f)))
}
